In [19]:
import mysql.connector as con

In [20]:
mydb = con.connect(host="localhost",database="mydb",user="root",password="")
mydb

In [21]:
cursor = mydb.cursor()
cursor

In [7]:
cursor.execute("INSERT INTO `employee` (`empid`, `empname`, `dept`, `salary`, `extra`) VALUES ('1002', 'Rajat', 'Development', '4500', '2');")

In [8]:
mydb.commit()

In [9]:
cursor.execute("SELECT * FROM `employee`")
myresult = cursor.fetchall()
myresult

[(1001, 'Rajat', 'Development', 4500, 0),
 (1002, 'Rajat', 'Development', 4500, 2)]

In [16]:
for row in myresult:
    print(row)

(1001, 'Rajat', 'Development', 4500, 0)
(1002, 'Rajat', 'Development', 4500, 2)

In [24]:
cursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES ('2', 'arpit', '12', '111'); ")
mydb.commit()

In [26]:
name = ['arpit','raj','manoj']
contact=['12','32','33']
email = ['a','b','c']
for i in range(3):
    cursor.execute("INSERT INTO `personal` (`id`, `name`, `contactno`, `emailaddress`) VALUES ('{}', '{}', '{}', '{}'); ".format(i+3,name[i],contact[i],email[i]))
mydb.commit()

In [27]:
cursor.execute("SELECT * FROM `personal`")
myresult = cursor.fetchall()
myresult

[(0, 'arpit', '12', '111'),
 (1, 'arpit', '12', '111'),
 (2, 'arpit', '12', '111'),
 (3, 'arpit', '12', 'a'),
 (4, 'raj', '32', 'b'),
 (5, 'manoj', '33', 'c')]