In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("taxi.csv")
df.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [5]:
df.shape

(27, 5)

In [7]:
df.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [9]:
#seperate data set
X = df.iloc[:,0:4]
X.head()

   Priceperweek  Population  Monthlyincome  Averageparkingpermonth
0            15     1800000           5800                      50
1            15     1790000           6200                      50
2            15     1780000           6400                      60
3            25     1778000           6500                      60
4            25     1750000           6550                      60

In [11]:
Y = df.iloc[:,4]
Y.head()

0    192000
1    190400
2    191200
3    177600
4    176800
Name: Numberofweeklyriders, dtype: int64

In [12]:
X.shape

(27, 4)

In [13]:
Y.shape

(27,)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [21]:
import pickle as pk
pk.dump(model,open('taxi.pkl',"wb"))

In [22]:
model2 = pk.load(open('taxi.pkl',"rb"))

In [23]:
model2.predict(X_test)

array([187985.04703558, 135922.73005617, 167220.64801511, 125603.39638998,
       179401.78993174, 166095.67586185])